.container {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100%;
}


body {
    height: 800px;
    margin: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#esquerda-menu {
    float: left;
    background-color: rgb(38, 36, 72);
    width: 100%;
    height: 100%;
}

#direita-menu {
    float: left;
    background-color: #878787;
    width: 25%;
    height: 100%;
    margin-top: 0;
}


