.container {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100%;

}    .button_Rolar_dados {
    display: flex;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    button_Rolar_dados cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #E2E2E2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    justify-content: center;
    width: 50%;
}

.button_Rolar_dados:hover {
    background-color: # background-color:#A5A5A5;
}

.button_Rolar_dados:active {
    background-color: #878787;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    #939393FF 
}

body {
    height: 8000px;
    margin: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#esquerda-menu {
    float: left;
    background-color: rgb(38, 36, 72);
    width: 100%;
    height: 100%;
}

#direita-menu {
    float: left;
    background-color: #878787;
    width: 25%;
    height: 100%;
    margin-top: 0;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.Player_Turn {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
}

.Money_show {

  color: #FFE056FF;
      font-size: 30px;
      font-family: 'Roboto Slab', serif;
}
.space_button{
  height: 20%;
}
.space_button_dice{
  height: 20%;
  display:flex;

}
#placeholder ,#placeholder2  {
  height: 20px;
  width: 20px;
  margin-left: : 50px ;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
